body { background-color: #4B7399;  font-family: Verdana, Helvetica, Arial; font-size: 14px;}
a img { border: none;}
a { color: #0000FF;}
.clear { clear: both; height: 0; overflow: hidden;}
#container {  width: 75%;  margin: 0 auto;  background-color: #FFF;  padding: 20px 40px;  
			  border: solid 1px black;  margin-top: 20px;}
#user_nav {  float: right;  font-size: 12px;}
 
#flash_notice, #flash_error { padding: 5px 8px;  margin: 10px 0;}
#flash_notice {  background-color: #CFC;  border: solid 1px #6C6;}
#flash_error {  background-color: #FCC;  border: solid 1px #C66;}
.fieldWithErrors { display: inline;}
#errorExplanation {  width: 400px;  border: 2px solid #CF0000;  padding: 0px;  padding-bottom: 12px;
  margin-bottom: 20px;  background-color: #f0f0f0;}
#errorExplanation h2 {  text-align: left;  font-weight: bold;  padding: 5px 5px 5px 15px;  font-size: 12px;
  margin: 0;  background-color: #c00;  color: #fff;}
#errorExplanation p {  color: #333;  margin-bottom: 0;  padding: 8px;}
#errorExplanation ul {  margin: 2px 24px;}
#errorExplanation ul li {  font-size: 12px;  list-style: disc;
}

/* ################################################ Facebox Css Files ################################################  */

	#facebox .b { background:url(/facebox/b.png);}
	#facebox .tl { background:url(/facebox/tl.png);}
	#facebox .tr { background:url(/facebox/tr.png);}
	#facebox .bl { background:url(/facebox/bl.png);}
	#facebox .br { background:url(/facebox/br.png);}
	#facebox {position: absolute;top: 0; left: 0; z-index: 100; text-align: left;}
	#facebox .popup { position: relative;}
	#facebox table { border-collapse: collapse;}
	#facebox td {border-bottom: 0; padding: 0;}
	#facebox .body {padding: 10px; background: #fff; width: 370px;}
	#facebox .loading { text-align: center;}
	#facebox .image { text-align: center;}
	#facebox img { border: 0; margin: 0;}
	#facebox .footer { border-top: 1px solid #DDDDDD; padding-top: 5px; margin-top: 10px; text-align: right;}
	#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br { height: 10px; width: 10px; overflow: hidden; padding: 0;}
	#facebox_overlay { position: fixed; top: 0px; left: 0px; height:100%; width:100%;}
	.facebox_hide { z-index:-100;}
	.facebox_overlayBG { background-color: #000; z-index: 99;}
	* html #facebox_overlay { /* ie6 hack */  position: absolute;
	  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	}

/* ################################################ End Facebox Css Files ################################################  */