<% title "Edit Groupe" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", season_tournoi_groupe_path(@season , @tournoi , @groupe) %> 
  <%= link_to "Back to Groups List", season_tournoi_groupes_path(@season , @tournoi) %>
</p>
